<!DOCTYPE html>
<html>
<head>
    <title>Hi There!</title>
</head>
<body>
    <h1>Hi There!</h1>
    <form action="/madlib">
        Enter some words!<br>
        <label>A Person! <input type="text" name="person"></label><br>
        
        <label>A Color! <select name="color">
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="black">Black</option>
            <option value="purple">Purple</option>
            </select>
        </label><br>
        <label>A Noun! <input type="text" name="noun"></label><br>
        <label>An Adjective! <input type="text" name="adjective"></label><br>
        <input type="submit">
    </form>
</body>
</html>
