<!DOCTYPE html>
<html>
<head>
    <title>Hi There!</title>
</head>
<body>
    <h1>Hi There!</h1>
    <form id="madform" action="/madlib">
        Enter some words!<br>
        <label>A Person! <input type="text" name="person" id="person-field"></label><span id="person-error"></span><br>
        
        <label>A Color! <select name="color">
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="black">Black</option>
            <option value="purple">Purple</option>
            </select>
        </label><br>
        <label>A Noun! <input type="text" name="noun"></label><br>
        <label>An Adjective! <input type="text" name="adjective"></label><br>
        <input type="submit">
    </form>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script>
    function validate(evt) {
        var person = $('#person-field').val();
        console.log(person);
        if (!person) {
            evt.preventDefault();
            $('#person-error').html(" Enter a name.")

        }
    }

    $('#madform').on('submit', validate);

    </script>
</body>
</html>